#section {
    padding: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    background-color: var(--card-color);
    height: 950px;
    margin-bottom: 100px !important;
    position: relative;
}

html,
body {
    height: 120%;
    padding-bottom: 300px;
}

#section h3 {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
    font-size: 16pt;
    color: var(--text-titulo);
}

#section form {
    position: relative;
    line-height: 1.5;
    display: block;
    margin: auto;
    width: 70%;
}

#section form p,
h3 {
    font-size: 14pt;
}

#section form input {
    width: 100%;
    margin-bottom: 25px;
    font-size: 12pt;
    padding: 8px;
    border: 2px solid var(--color-border);
    background-color: var(--input-color);
    border-radius: 5px;
    color: var(--text-color);
}

#submit {
    width: 100px !important;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--color-border);
    color: var(--text-color-white);
}

div.form-min span {
    width: 48%;
}

div.form-min{
    display: flex;
    justify-content: space-between;
}