:root {
    --color1: #04a5e487;
    --color10: #3190b6;
    --color10-2: hsla(197, 58%, 45%, 0.8);
    --color2: #7cd8fc;
    --color3: #042c5c;
    --color4: #547ca4;
    --color5: #000000;
    --color6: #64c4ea1a;
    --color7: #64c4ea82;
    --color8: #84c9e539;
}