body {
    --color1: #04a5e487;
    --color10: #3190b6;
    --color10-x: #3190b6;
    --color10-2: hsla(197, 58%, 45%, 0.8);
    --color2: #7cd8fc;
    --color3: #042c5c;
    --color4: #547ca4;
    --color5: #000000;
    --color6: #64c4ea1a;
    --color7: #64c4ea82;
    --color8: #84c9e539;
    --card-color: white;
    --input-color: white;
    --text-titulo: #3190b6;
    --color-border: #3190b6;
    --text-color: black;
    --text-color-inverso: #2f647a;
    --text-color-white: white;
    --bg-btn: hsla(0, 0%, 100%, 0.2);
    --sucesso: rgb(94, 194, 152);
    --insucesso: rgb(251, 132, 132);
    --bg-color: white;
}

.dark {
    --bg-btn: #3190b6;
    --color10: #404747;
    --text-color-inverso: rgb(216, 216, 216);
    --text-titulo: rgb(216, 216, 216);
    --card-color: #404747;
    --color-border: #3190b640;
    --input-color: #ffffff17;
    --bg-color: #2C3030;
    --text-color: rgb(240, 240, 240);
    --text-color-white: rgb(216, 216, 216);
    --sucesso: rgb(79, 167, 130);
    --insucesso: rgb(214, 119, 119);
}