#section {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;

    border-radius: 10px;
    height: 80%;
    background-color: var(--card-color);
}

#detalhe-livro {
    margin: auto;
    padding: 20px;
    width: 75%;
    line-height: 2;
    top: 50%;
    font-size: 16pt;
}

.flexed {
    display: flex;
    justify-content: space-around;
}

.center {
    text-align: center;
    color: var(--text-color-inverso);
    margin: 50px auto 50px;
}

.detalhe-in {
    margin: 10px;
}

#detalhe-livro .detalhe-in img {
    border-radius: 10px;
}

#detalhe-livro ion-icon {
    font-size: 50pt;
    margin-bottom: 10px;
    color: var(--text-color-inverso);
}

#detalhe-livro label {
    color: var(--color10-x);
}

#detalhe-livro span {
    color: var(--text-color-inverso);
    font-size: 16pt;
    font-weight: 600;
    margin-right: 10px;
}

html,
body {
    height: 110%;
}

.fechar {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border: 2px solid var(--color-border);
    background-color: var(--input-color);
    border-radius: 5px;
    color: var(--text-color-inverso);
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 30px;
}

.fechar:hover {
    background-color: var(--color-border);
    color: var(--text-color-white);
}


@media only screen and (max-width: 980px) {

    #section {
        position: relative;
        display: block;
        margin: auto !important;
        width: 80% !important;
        height: 200% !important;
        box-shadow: none;

    }


    #detalhe-livro ion-icon {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    .detalhe-in {
        margin: auto;
        margin: 0px;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    #detalhe-livro {
        /* width: 100%; */
    }

    .flexed {
        position: relative;
        flex-wrap: wrap;
        width: 100% !important;
        margin: auto;
    }

    .space {
        display: none;
    }

    .detalhe-livro {
        width: 100%;
    }
}