#section {
    width: 70%;
    margin: auto;
    margin-top: 50px !important;
    padding: 10px;
    overflow-y: auto;
}


#section table {
    width: 100%;
    margin-top: 50px;
    text-align: left;
    border-spacing: 0px 15px;
}

#section table tr th {
    color: var(--text-titulo);
}

#section table tr td,
th {
    height: 50px;
    border-bottom: 2px solid var(--color1);
}

#section table .data-list {
    cursor: pointer;
}

#section table .clickable-row:hover {
    background-color: var(--color8);
}

#pesquisa {
    width: 500px;
    display: flex;
    margin: auto;
}

#pesquisa input {
    width: 100%;
    transform: translateX(15px);
    border: 2px solid var(--color-border);
    background-color: var(--text-color-white);
    border-radius: 5px;
    padding: 8px;
}

#pesquisa a {
    width: 30px;
    color: var(--color10);
    transform: translate(-70%, 15%);
    top: 50%;
}

#pesquisa a ion-icon {
    font-size: 20pt;
    font-weight: 800;
    margin: auto;
    display: block;
}

.estado {
    width: 130px;
    text-align: left;
    text-align: center;
}

.nome {
    padding-left: 25px;
}

.qtd-livro {
    padding-left: 7%;
}

.atraso span {
    /* border: 2px solid rgba(255, 0, 0, 0.2); */
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 5, 5, 0.8);
}

#add-livro {
    text-decoration: none;
    color: var(--text-color-white);
}

#add-livro {
    cursor: pointer;
    display: block;
    color: var(--text-color-white) !important;
    padding: 10px 5px 5px 20px;
    margin-top: -20px;
    position: relative;
    display: flex;
    background-color: var(--bg-btn);
}

#add-livro ion-icon {
    font-size: 22pt;
    cursor: pointer;
}

#add-livro label {
    margin: 5px;
    cursor: pointer;
    font-size: 15pt;
}

#add-livro:hover {
    background-color: var(--color7);
    transition: 0.3s;
}

@media only screen and (max-width: 980px) {
    #section {

        margin-top: 0px !important;


    }
}