@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url(color.css);

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}


#tema {
    cursor: pointer;
    border: 0px;
    background-color: white;
    padding: 5px;
    top: 0%;
    transform: translateY(-5%);
}

#tema ion-icon {
    font-size: 25pt;
}


#header {
    padding: 10px;
    border-bottom: 2px solid var(--color7);
    display: flex;
    justify-content: space-between;
}

body,
header,
#tema,
#set-user a ion-icon {
    background-color: var(--bg-color);
    color: var(--text-color);
}


#header h1 {
    /* font-family: 'Lobster',
        cursive; */
    padding-left: 13px;
}

#header h1,
#set-user {
    display: inline-block;
}

#set-user a ion-icon {
    font-size: 30pt;
}


.navegacao {
    z-index: 10;
    position: fixed;
    margin-left: 20px;
    background-color: var(--color10);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    width: 45px;
    height: 70%;
    padding: 10px;
    top: 50%;
    transform: translateY(-45%);
    color: white;
    transition: 0.3s;
}

.navegacao:hover {
    width: 215px;
}

.navegacao:hover .titlo {
    display: inline;
}

.titlo {
    display: none;
}

.navegacao .nav {
    text-decoration: none;
}

.navegacao ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: auto;
    align-items: center;
    list-style: none;
}

.navegacao ul li {
    line-height: 3em;
    font-size: 14pt;
}

.navegacao ul li .icon {
    position: relative;
    font-size: 1.5rem;
}


.navegacao ul li .icon ion-icon {
    position: relative;
    top: 50%;
    transform: translateY(25%);
    color: white;
    padding: 10px;

}

.navegacao ul li .titlo {
    color: white;
    padding: 3px;
    position: absolute;
    width: 180px;
    font-size: 11pt;
}

.navegacao ul li:hover {
    background-color: var(--color1);
    border-radius: 10px;
}

#aside a {
    text-decoration: none !important;
}

.logout {
    display: flex;
    position: relative;
    cursor: pointer;
    top: 90%;
    padding: 10px 30px;
    font-size: 15pt;
    background-color: var(--bg-btn);
    color: var(--text-color-white) !important;
}

.logout:hover {
    background-color: var(--color7);
    transition: 0.3s;
}

.logout label {
    cursor: pointer;
}

.logout ion-icon {
    font-size: 22pt;
    margin-right: 10px;
    cursor: pointer;
}

.space {
    display: none;
}

@media only screen and (max-width: 980px) {


    #header {
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: var(--bg-color);
    }

    .space {
        display: block;
    }

    .item-2 {
        display: none !important;
    }

    .logout {
        background-color: var(--color-border);
    }

    #aside {
        left: 86% !important;
        top: 83% !important;
        height: 0 !important;
    }

    #header h1,
    #set-user {
        margin-right: 5%;
    }

    .logout:active {
        left: 83% !important;
        left: 60% !important;
    }

    #section {
        margin: 0px auto !important;
        width: 95% !important;
    }

    #section .cont-item {
        border-radius: 0px;
        box-shadow: none;
        padding: 20px 0px;
    }

    .cont-item h4 {
        font-size: 0.8rem;
    }

    .cont-item {
        width: 100% !important;
    }

    .emprestimo {
        display: flex;
        flex-wrap: wrap;
        height: 100% !important;
    }

    .emprestimo-item {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
    }



    .emprestimo-item h3 {
        text-align: center;
    }

    .navegacao ul {
        display: flex;
        margin: auto;
        position: relative;
        width: 100%;
        justify-content: space-around;
    }

    .navegacao ul li {
        position: relative;
    }

    .navegacao .titlo {
        display: none;
    }

    .navegacao {
        width: 100%;
        margin: auto;
        padding: 0px;
        top: 95%;
        height: 70px;
        border-radius: 0px;
        /* transform: translateY(-45%); */
    }

    .navegacao:hover,
    .titlo {
        width: 100%;
    }

    .navegacao:hover .titlo {
        display: none;
    }

    #section {
        transform: translateY(20%);
    }

}